.image{
    height: 200px;
    width: 250px;
    margin-bottom: 20px;
   align-items: center;
}

.title{
    font-size: larger;
}

.subtitle{
    font-style: italic;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.innerContainer{
    display: flex;
    flex-direction: column;

}